<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Admin Page</title>
        <style type="text/css" media="screen">
        .stage {
            width: 500px;
            height: 200px;
        }
        ot-publisher,ot-subscriber,ot-layout {
             display: block;
             overflow: hidden;
         }
         ot-layout {
             position: relative;
             width: 100%;
             height: 100%;
         }
         .publisher {
             width: 100px;
             height: 100px;
         }
        </style>
    </head>
    <body>
        <div class="stage" ng-controller="StageController" ng-app="tokshow">
            <ot-layout props="{animate:true}">
                <ot-subscriber ng-repeat="stream in streams" 
                    stream="stream" 
                    session="session" 
                    props="{style: {nameDisplayMode: 'off'}}">
                </ot-subscriber>
            </ot-layout>
        </div>
        <div class="backstage" ng-app="backstage" ng-controller="BackstageController">
            <input type="button" name="inlineBtn" value="Get In Line" id="inlineBtn" ng-click="getInline()">
            <div class="publisher">
                <ot-publisher id="publisher"
                    ng-if="inline"
                    apiKey="1127" 
                    props="{style: {nameDisplayMode: 'off'}, resolution: '1280x720', frameRate: 30, width: '100%', height: '100%'}">
                </ot-publisher>
            </div>
        </div>
        <script src="//static.opentok.com/webrtc/v2.2/js/TB.js" type="text/javascript" charset="utf-8"></script>
        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="bower_components/opentok-layout-js/opentok-layout.js" type="text/javascript" charset="utf-8"></script>
        <script src="bower_components/opentok-angular/opentok-angular.js" type="text/javascript" charset="utf-8"></script>      
        

        <script type="text/javascript" charset="utf-8">
        window.TokShowApp = angular.module('tokshow', ['opentok'])
        .value({
            apiKey: '1127',
            sessionId: '2_MX4xMTI3fn5UaHUgSnVuIDI2IDExOjAyOjU2IFBEVCAyMDE0fjAuMTU3NjI0MTN-fg',
            token: 'T1==cGFydG5lcl9pZD0xMTI3JnNpZz0wOGUzNGMwZGE5NTk0NzVjMDFiNzg1NTZjNjgyMDdkNDFjMjQzYjYxOmV4cGlyZV90aW1lPTE0MDYyODYxNzgmbm9uY2U9NDExMzg4JmNyZWF0ZV90aW1lPTE0MDM4MDU3Nzgmcm9sZT1tb2RlcmF0b3Imc2Vzc2lvbl9pZD0yX01YNHhNVEkzZm41VWFIVWdTblZ1SURJMklERXhPakF5T2pVMklGQkVWQ0F5TURFMGZqQXVNVFUzTmpJME1UTi1mZw=='
        });
        
        window.BackStage = angular.module('backstage', ['opentok'])
        .value({
            apiKey: '1127',
            sessionId: '1_MX4xMTI3fn5UaHUgSnVuIDI2IDExOjA4OjE3IFBEVCAyMDE0fjAuOTc3OTY3NH5-',
            token: 'T1==cGFydG5lcl9pZD0xMTI3JnNpZz1iMDllMWJiYTNiYjhiNzkxY2MwMTQ2MWM5NzEzYmU1MTg0ZDYwMGNkOmV4cGlyZV90aW1lPTE0MDYyODY0OTkmbm9uY2U9NTcyNzk4JmNyZWF0ZV90aW1lPTE0MDM4MDYwOTkmcm9sZT1tb2RlcmF0b3Imc2Vzc2lvbl9pZD0xX01YNHhNVEkzZm41VWFIVWdTblZ1SURJMklERXhPakE0T2pFM0lGQkVWQ0F5TURFMGZqQXVPVGMzT1RZM05INS0='
        });
        
        </script>
        <script src="js/controllers/fanStage.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/controllers/fanBackstage.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            angular.bootstrap(document.querySelector('.backstage'), ['backstage']);
        </script>
    </body>
</html>